@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}

html {
    background-image: url("./Mountains-lowres.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: black;
    display: table;
    margin: auto;
    height: 100%;
    width: 100%;
}

body {
    vertical-align: center;
    max-width: 800px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 10;
}

div#lang {
    padding-bottom: 0.5rem;
}

.glow {
    text-shadow: 0 0 10px #f8f4f4, 0 0 20px #f8f4f4;
}

div#blogpost {
    background-color: rgba(150, 150, 150, 0.5);
    padding: 0.5rem;
}

div#script {
    background-color: rgba(150, 150, 150, 0.5);
    padding: 0.5rem;
    padding-bottom: 1px;
    margin-bottom: 1rem;
}

ref {
    vertical-align: super;
    font-size: x-small;
}

references {
    font-size: x-small;
}

#header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: azure;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

#header p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    margin: 10px;
}

#linkcontainer {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

*[id*='tab'] {
    display:flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
}

*[id*='tab']:hover {
    background-color: rgba(170, 170, 170, 0.7);
}

a {
    color: inherit;
    text-decoration: none;
}

#footer {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin: 10px;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content a:hover {
    background-color: rgba(170, 170, 170, 0.7);
}

#dropdown-content a {
    color: black;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#fullbody {
    align-content: center;
}

.hidden {
    display: none;
}